spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bookstore_db
    driverClassName: org.postgresql.Driver
    username: postgres
    password: 123

#  flyway:
#    url:  jdbc:postgresql://localhost:5432/bookstore_db
#    user: postgres
#    password: 123




  jpa:
    hibernate:
      ddl-auto: update
    pr mnoperties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: true

  flyway:
    validate-on-migrate: true

#    url: jdbc:postgresql://localhost:5432
#    schemas: bookstore_db
#    user: postgres
#    password: 123


logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE


jwt:
  token:
    secret: banana
    expired: 10800000